.MuiAvatar-img{
    background-color: black;
    object-fit: contain;
}
.theTech{
    overflow: scroll;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}
a{
    text-decoration: none;
}
.bottomNav{
    display: flex;
    justify-content: center;
}

.src-UserCard-UserCardAvatar-styles-module__user-card-avatar--NTkwv{
    background-size: contain!important
}